#body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.divClass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: burlywood;
    width: 600px;
    padding:10px;
    border: 2px black double; 
    margin:10px;
    }

.divClassContainer{
    background-color:cornsilk;
    margin: 10px;
    padding: 15px;
    border:4px double black;
}

#spanId{
    background-color:cornsilk;
    margin: 50px;
    padding:10px;
    border:4px double black;
    font-size: 16px;
}

#thirdDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background-color: rgb(163, 136, 100);
    padding:50px;
    margin:10px;
    border: 2px black double;
    max-width: 500px;
    max-height:600px;
}

#listedImage{
    width:400px;
    height:250px;
}

#titulo{
    color:darkblue;
}